
.root-dash{
    background-color: blue;
    height: 100vh; 
    display:flex;
    align-items: flex-start;
    justify-content: center;
    overflow: scroll;
    background: url('./bg.svg');
}

.container{ 
    width:50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap ;
}

.nav{
    display:flex;
    width: 100%;
    justify-content: space-between;
    color: white;
    align-items: center;
}
.nav a{
    color: white;
}

.palettes{
    width: 100%;
    display:grid;
    box-sizing: border-box;
    grid-template-columns: repeat(3,30%); 
    column-gap: 5%;
    row-gap:5%;
}